pre span {
  background-color: white;
}
pre span:hover {
  background-color: #BFE6F2;
}

#canvas {
  cursor: default; /* maybe use an image? */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#selectableCanvas {
  visibility: visible;
}

body {
  background-color: #E0F2F1;
}

#toolbar {
  margin: 0 auto;
  background-color: white;
  display: inline-block;
  font-family: monospace;
  padding: 3px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px lightgrey;
  margin-bottom: 5px;
}

input {
  text-align: center;
  border: 0px;
  margin: 0;
  background-color: white;
}

input:hover {
  color: #44B399;
}

pre {
  margin: 0;
  padding: 0;
}

#canvases, input {
  font-family: monospace;
  padding: 3pt 0;
  margin: 5px 0;
}

#brushChar {
  width: 20px;
  text-align: center;
  margin: 0;
}
#widthBox, #heightBox {
  width: 30px;
}

h2, button {
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: white;
}

h2 {
  font-weight: normal;
  padding: 0;
}

body, h2, #nav {
  margin:0;
}

#nav {
  background-color: #4DB6AC;
  padding: 8px 0;
  margin-bottom: 15px;
}

#nav h2 {
  display: inline-block;
}

#heading a {
  float: right;
  color: #303030;
}
#heading a h2:hover {
  color: #E3F2FD;
}

#heading {
  margin: 0 auto;
  width: 790px;
}

#content {
  text-align: center;
}
