pre span:hover {
  background-color: #BFE6F2;
}

#canvas {
  cursor: default; /* maybe use an image? */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: white;
}

pre, input, button {
  background-color: white;
  border: 1px lightgray solid;
}

pre, input {
  font-family: monospace;
  padding: 3pt;
  margin: 5px 0;
}

#brushChar {
  width: 15px;
  text-align: center;
  margin: 0;
}

button {
  height: 23px;
  margin: 0;
  vertical-align: top;
}

h2, button {
  font-family: "Open Sans", sans-serif;
  color: #303030;
}

button:hover {
  color: #44B399;
}

h2 {
  font-weight: normal;
  padding: 0;
}

body, h2, #nav {
  margin:0;
}

#nav {
  background-color: white;
  padding: 10px 0;
  margin-bottom: 15px;
  box-shadow: 0px 1px 4px lightgray;
}

#nav h2 {
  display: inline-block;
}

#heading a {
  float: right;
  color: #303030;
}
#heading h2:hover {
  color: #44B399;
}

#content, #heading {
  margin: 0 auto;
  width: 790px;
}
